.mobileProject {
	width: 100%;
	padding-top: 60px;
	position: relative;
	.selectorOpen {
		padding: 6.5px;
		background-color: #0c70ff;
		color: #fff;
		font-size: 13px;
		font-family: 'Noto Sans CJK KR Bold';
		display: table;
		border-radius: 2px;
		margin: 12px auto;
	}
}
